.header__logo {
  margin-right: 93px;
  text-decoration: none;
  font-family: $secondaryFont;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  color: $logoColor;
}
.footer__logo {
  font-family: $secondaryFont;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  color: $logoColor;
  padding-top: 60px;
  margin-bottom: 20px;
  display: inline-block;
  color: $primaryColor;
  text-decoration: none;
}
